<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/register/register.css" />
</head>
<body>

  <div class="container">
    <form action="/register" method="post">
      <h1 class="center">Register</h1>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" id="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>

      <button type="submit" class="registerbtn">Register</button>
    </form>
  <div class="signin">
    <p>Already have an account? <a href="/login">Sign in</a>.</p>
  </div>
  {{if .error}}
    <p>{{.error}}</p>
  {{end}}
</div>

</body>
</html>